/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body, html {
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
#myCarousel_mob{
		display: none;
	}
#myCarousel_2_mob{
		display: none;
	}
body{
	margin:0;
	padding:0;
    -webkit-text-size-adjust: 100%;
	background-color: #000A1D;
	/*border:2px solid red;*/
}
.row,.col,.col-12,.col-6,.col-3,.col-4,.col-lg-6,.col-lg-4,.col-xl-4{
	margin:0;
	padding: 0;
}
.navbar,.nav-link{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
.fixed-top {
    padding-right: 55px!important;
    padding-left: 55px!important;
    background-color: #000A1D;
    padding-bottom: 20px!important;
}
#main{
	/*height: 740px;*/
	background-color: #000A1D;
	background-image: url("../img/page1_texture.png");
	background-repeat: repeat-x;
    background-size: auto;
	margin: 0;
}
#first_page{
	/*height: 740px;*/
	padding-top: 100px;
}
#container_first{
	padding: 0;
	max-width: 1600px;
	margin:auto;
	/*border:1px solid green;*/

}
#container_second{
	padding-left: 55px;
	padding-right: 55px;
	/*border:1px solid red;*/
}
.navbar-dark .navbar-brand {
    color:white;
}
.bg-light {
    background-color: transparent!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white!important;
}
.phone{
	font-family: Proxima Nova;
    color: white!important;
    margin-top: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	/*line-height: 130%;*/
	/*text-align: center;*/
	color: #FFFFFF;
}
.page_1_text{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 120%;
	color: #FFFFFF;
	padding-top: 140px;
	/*max-width: 471px;*/
	/*padding-right:130px;*/
	text-align: justify;
}
.page_1_text span{
	font-size: 90px;
	color: #4aa0f0;
}
.navbar-brand{
	margin-top: 35px;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 140%;
	color: #FFFFFF;
	margin-right: 50px;
	margin-bottom: 0;
	padding: 0;
}
.navbar-brand:hover {
    color: white!important;
}
.navbar-nav{
	margin-top: 39px;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
}
.nav-link{
	padding: 0!important;
	margin-left:0!important;
	margin-right:42px!important;
}
#outlets_btn_li a{
	margin-right: 0!important;
}
#carousel_main_arrow_left{
	/*margin-left: 230px;*/
    margin-top: 12px;
    height: 10px;
}
#carousel_main_arrow_right{
	/*margin-right: 200px;*/
    margin-top: 12px;
    height: 10px;
}
#carousel_main_page{
	padding-top: 13px;
	padding-left: 42px;
}


#carousel_main_page .w-100{
	width: unset!important;
}
#carousel_main_page img{
	/*height: 100%;*/
	width: auto!important;
	margin: auto;
}

.btn_page1{
	width: 254px;
	height: 68px;
	background: -o-linear-gradient(342.95deg, #0C3D69 13.18%, #4AA0F0 82.99%);
	background: linear-gradient(107.05deg, #0C3D69 13.18%, #4AA0F0 82.99%);
	-webkit-box-shadow: -1px 3px 0px #4AA0F0;
	        box-shadow: -1px 3px 0px #4AA0F0;
	border-radius: 34px;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 130%;
	border: none;
/*	align-items: center;
	text-align: center;*/
	color: #FFFFFF;
}
#button_2{
	background:transparent;
	-webkit-box-shadow:none;
	        box-shadow:none;
	border: 1px solid white;
}
#page_1_button_row{
	padding-top:40px;
}
.page_1_location_time{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #FFFFFF;
	margin-top: 115px;

}
.page_1_location_time p{
	max-width: 178px;
	margin-left: 15px;
}
.fa-map-marker,.fa-clock-o{
	font-size: 34px;
	margin-right: 15px;
}
.w-100 {
    padding-bottom: 10px;
}
#second_page{
	/*max-height: 867px;*/
	/*max-height: 736px;*/
	padding-top: 200px;
}
#page_2_text_heading_first{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 120%;
	color: #FFFFFF;
	max-width: 471px;
	margin: auto;
}
#page_2_text_heading{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 120%;
	color: #FFFFFF;
	max-width: 471px;
	margin-left: 20px;
}
.page_2_text_body{
	margin-top: 25px;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
	max-width: 511px;
	margin-left: 20px;
}
#second_page_image_div{
	padding-left: 100px;
	position: relative;
}

#drill_overlay_1{
	max-height: 479px;
	margin-top: -10px;
	margin-left: -50px;
	width: 80%;
}
#drill_overlay_2{
	max-height: 479px;
	margin-top: -420px;
	margin-left: 50px;
}
/*#second_page_image_div img{
	max-height: 479px;
	margin-left: 60px;
	margin-top: -10px;

}*/
#page_2_partners{
	padding-top: 42px;
	padding-left: 200px;
	height: 130px;
	margin-bottom: 129px;
}
#page_2_partners a{
	text-decoration: none;
}
#page_2_partners span{
	margin-right: 38px;
}
#page_2_partners span img{
	width: 76px;
}
#page_2_partners_heading{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 120%;
	color: #FFFFFF;
	margin-bottom: 25px;

}
#page_2_heading_color{
	color: #4aa0f0;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 120%;
	max-width: 471px;
}
.bold_text{
	font-weight: bold;
}
#what_we_do{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 110%;
	text-transform: uppercase;
	position: absolute;
	max-width: 259px;
	margin-top: 137px;
	opacity: .5;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
#second_page_line{
	position: absolute;
	margin-left: -100px;
    margin-top: 162px;
}

#third_page{
/*	margin-left: 55px;
	margin-right: 55px;*/
	position: relative;	
	background-color: white;
}
#about_side{
	position: absolute;
	/*margin-left: -55px;*/
}
#about_side_2{
	position: absolute;
	/*float: right;*/
	right: 0;
	/*margin-left: 1034px;*/
    margin-top: 574px;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
#find_everything_wrapper{
	position: relative;
	margin-top: -1px;

}

/*#find_everything{
	position: absolute;
	margin-top: -161px;
	z-index: -2;
}*/
#about{
	margin-top: 118px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 72px!important;
}



.third_page_numbers p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-transform: uppercase;
	color: #0C3D69;
	display: inline-block;
}
.third_page_numbers img{
	margin-bottom: 15px;
}
.third_page_text{
    /*background-color: white;*/
    padding-left: 10px;
    padding-right: 10px;

}

/*.third_page_text p:nth-child(2){
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 120%;
	color: #000B1E;
	max-width: 254px;
	margin-bottom: 45px;
}*/
#third_page_second_header{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 110%;
	color: #0C3D69;
	/*max-width: 862px;*/
	margin: auto;
	/*margin-left: 261px;*/
	margin-top: 122px;
	text-align: center;
}
.catalog_element{
	height:400px; 
	background-color: white;
	border: 1px solid white;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)

}
.catalog_element:nth-child(4){
	margin-right: 0;
}
.catalog_element img{
	display: block;
	margin: auto;
	margin-top: 25px;
	max-width: 170px;
}
.catalog_element p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
	color: #0C3D69;
	max-width: 237px;
	display: block;
    margin: auto;
    padding-top: 24px;
    min-height: 100px;
    max-height: 100px;
}
.catalog_element button{
	margin-top: 28px!important;
	width: 176px;
	height: 47px;
	border-radius: 50px;
	margin: auto;
    display: block;
    font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	text-align: center;
	color: #0C3D69;
	background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #0C3D69;
}
.catalog_element a{
	text-decoration: none;
}
/* body {
     text-align: center;
 }*/
 .catalog_element_wrapper{
/*    padding-left: 30px;
    padding-right: 30px;*/
 }
#catalog_elements_list{
	margin-top: 42px
}
#find_everything{
	height: 214px;
	background: #000A20;
	margin-top: -1px;
}
#find_everything p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 75px;
	line-height: 110%;
	text-align: center;
	text-transform: uppercase;
	/*color: white;*/
	/*border: 1px solid #0C3D69;*/
	/*margin-top: 291px;*/
	text-shadow: -1px -1px 0 #0C3D69, 1px -1px 0 #0C3D69, -1px 1px 0 #0C3D69, 1px 1px 0 #0C3D69;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: aut
}
.container-fluid{
	margin: 0;
	padding: 0;
}
#z{
	height: 161px;
	margin-top: -161px;
	z-index: 1;
	background-color:#000A20;
}
#metal_wrapper{
	height: 551px;
	/*margin-top: 200px;*/
	background: #000A20;
	position: relative;
}
#metal_wrapper img{
	margin-top: -3.7%;

}
#full_metal{
	width: 100%;
	position: absolute;
}
#metal_description{
	background-image: url("../img/metal_2.png");
	width: 370px;
	height:551px;
	/*margin-left:155px;*/
	padding-top: 60px;
	position: absolute;
	margin-top: -2px;
}
#metal_description h1,#wood_description h1, #paint_description h1{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 110%;
	color: #FFFFFF;
	max-width: 255px;
	display: block;
	margin: auto;
}
#metal_description p,#wood_description p,#paint_description p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 150%;
	color: #FFFFFF;
	margin-left: 80px;
	margin-top: 25px;
}
#metal_description img,#wood_description img,#paint_description img{
	position: absolute;
	margin-left: 37px;
	margin-top: 15px;
}
#metal_description button, #wood_description button,#paint_description button{
	width: 184px;
	height: 47px;
	border-radius:50px;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	text-align: center;
	color: #FFFFFF;
	background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid white;
    margin: auto;
    display: block;
    margin-top: 54px;
}
#fourth_page{
	background: #000A20;
	height: 679px;
	padding-left: 155px;
	padding-right: 155px;
	margin-top: -2px;
}
#fourth_page_inner{
	position: relative;

}
#fourth_page_inner>img{
	margin-left: -1px;
	margin-top: 130px;
	position: absolute;
}
#wood_description{
	background-image: url("../img/wood_22.png");
	width: 370px;
	height:551px;
	position: absolute;
	/*margin-left: 755px;*/
	right: 0;
	margin-top:45px;
	padding-top: 60px;
	background-repeat: no-repeat;
}
#fifth_page{
	padding-left: 155px;
    padding-right: 55px;
}
#fifth_page_inner{
	position: relative;

}
#fifth_page_dark{
	height: 481px;
	background: #000A20;
	margin-right: -55px;
    margin-left: -155px;
    margin-top: -2px;
}
#fifth_page_light{
	height: 220px;
	background: #000A1D;
}
#paint_main_image{
	position: absolute;
	right: 0;
	margin-top: 95px
}
/*#paint_description img{
	position: absolute!important;
	margin-left: 37px!important;
	margin-top: 15px!important;
}*/
#paint_description{
	background-image: url("../img/paint_3.png");
	width: 370px;
	height:551px;
	position: absolute;
	/*margin-left: 155px;*/
	margin-top:185px;
	padding-top: 60px;
	background-repeat: no-repeat;
}
#fifth_page_inner img:nth-child(1){
	position: absolute;
	margin-top: 381px;
	
	margin-left: -155px;
}
#sixth_page{
	/*height: 742px;*/
	padding-right: 55px;
	padding-left: 55px;
	background-color: white;
}
#sixth_price p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 110%;
	text-align: center;
	color: #4AA0F0;
	display: block;
	margin:auto;
	max-width: 862px;
	margin-top: 120px;
}
#sixth_price span{
	color: #000A20;
}

.carousel-item.active,.carousel-item{
	padding-top:60px;
	/*padding-bottom:60px;*/
/*	padding-right: 15px;
    padding-left: 15px;*/
/*	padding-left: 55px;
	padding-right: 55px;*/
}
/*.catalog_element_wrapper{
	padding-left: 20px;
}*/
.carousel-item .active{
	padding-left: 20px;
}

#seventh_page{
	/*height: 564px;*/
	position: relative;
	background-color: white;
	padding-top: 70px;
}
#seventh_page_card {
	
	/*position: absolute;*/
	/*width: 624px;*/
	height: 504px;
	margin-top: 60px;
	/*margin-left: 0px;*/
}
#seventh_page_inner{
	background-image: url("../img/seven_3.png");
	background-repeat: no-repeat;
	margin-top: 60px; 
}
#seventh_page_img_2 img{
	width: 115%;
	max-width: 115%;
	margin-left: -27%;
}
#seventh_page_img_3 img{
	margin-top: 100px;
	width: 88%;
}
/*#seventh_page_inner img:nth-child(2){
	/*position: absolute;*/
	/*margin-top: 0px;*/
	/*margin-left: 554px;*/
/*}*/
/*#seventh_page_inner img:nth-child(3){*/
	/*position: absolute;*/
	/*margin-top: 100px;*/
	/*margin-left: 955px;*/
/*}*/

#seventh_page_card h1{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 110%;
	color: #FFFFFF;
	max-width: 471px;
	margin-left: 55px;
	margin-top: 50px;
}
#seventh_page_card p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: #FFFFFF;
	max-width: 370px;
	margin-left: 55px;
	margin-top: 25px;
}
#seventh_page_card span{
	color: #4AA0F0;
}
#seventh_page_card button{
	width: 254px;
	height: 66px;
	background: -o-linear-gradient(342.95deg, #0C3D69 13.18%, #4AA0F0 82.99%);
	background: linear-gradient(107.05deg, #0C3D69 13.18%, #4AA0F0 82.99%);
	-webkit-box-shadow: -1px 3px 0px #4AA0F0;
	        box-shadow: -1px 3px 0px #4AA0F0;
	border-radius: 34px;
	margin-left: 54px;
	margin-top: 30px;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 130%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	border: none;
	color: #FFFFFF;
}
#eighth_page{
	/*height:536px;*/
	background-color: white;
/*	padding-right: 55px;
	padding-left: 55px;*/
}
#carousel_feedback{
    padding-top: 20px;
    background-image: url("../img/8_page.png");
}
#eighth_page_inner{
	padding-left: 55px;
    padding-right: 55px;
}

#eighth_page_inner h1{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 110%;
	text-align: center;
	color: #4AA0F0;
}
.carousel_feedback_item{
    max-width: 770px;
    margin: auto;
    }
.carousel_feedback_item h1{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 110%;
	text-align: center;
	color: #4AA0F0;
}
.carousel_feedback_item p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	/*font-size: 20px;*/
	font-size: 30px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
	/*margin-top: 76px;*/
	margin-top: 20px;
	margin-bottom: 60px;
	min-height: 120px;
}
.carousel_feedback_item h5{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
	margin-top: 25px;
}
#carousel_feedback .carousel-control-prev img{
    margin-top: 100px;
    margin-left: 127px;
}
#carousel_feedback .carousel-control-next img{
    margin-top: 100px;
    margin-right: 127px;
}

/*.carousel-inner{
     height: 100%!important;
}*/
#eighth_page_bottom{
	height: 125px;
	width: 100%;
	background-color: #E5E5E5;
	margin-top: -125px;
}
#nineth_page{
	/*height: 817px;*/
	background-color: #E5E5E5;

}
#nineth_page_inner{
	padding-left: 55px;
	padding-right: 55px;
}
#nineth_page_bottom{
	height: 209px;
	width: 100%;
	background-color: white;
	margin-top: -106px;
}
#nineth_page_inner h1{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 110%;
	text-align: center;
	color: #00234B;
	max-width: 570px;
	display: block;
    margin: auto;
    margin-top: 100px;
}
/*#catalog_elements_list_9{
	margin-top: 55px;
}*/
.catalog_element_9{
	height:350px; 
	background-color: white;
	border: 1px solid white;
	-webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
	position: relative;
	margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.catalog_element_9 img{
	position: absolute;
	margin-top: 84px;
	margin-left: 40px;

}
.catalog_element_9>div{
	position: relative;
	z-index: 2;
}

.catalog_element_9 button{
	margin-top: 28px!important;
	width: 176px;
	height: 47px;
	border-radius: 50px;
    display: block;
    font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	text-align: center;
	color: #0C3D69;
	background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #0C3D69;
    margin: auto;
}

.catalog_element_9 h2{
	max-width: 291px;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 130%;
	color: #000000;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;

}
.catalog_element_9 p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	color: #000000;
	margin-top: 20px;
	margin-left: 20px;
	max-width: 250px;
	margin-right: 20px;

}
.catalog_element_9 h3{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #00234B;
    text-align: center;
    margin-top: 20px;
}
#last_page{
	/*height: 528px;*/
	padding-bottom: 40px;
	background-color: #EEEEEE;
}

#last_page h1{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 110%;
	text-align: center;
	color: #00234B;
	margin: auto;
	margin-top: 47px;
}
#last_page p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	margin:auto;
	/*margin-top: 10px;*/
	max-width: 148px;
}
/*#last_page .col-6{
	background-color: white;
}*/
#last_page .col-6:nth-child(1){
	padding-right:15px;
}
#last_page .col-6:nth-child(2){
	padding-left:15px;
}

.last_page_contacts p{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	max-width: 20px;
	margin-top: 10px;
}

#last_page_contacts_row{
	margin-top: 40px;
	padding-left: 55px;
}

.last_page_contacts{
	height:136px; 
	background-color: white;
	border: 1px solid white;
	/*box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);*/
	-webkit-box-shadow: 10px 5px 24px rgba(0, 0, 0, 0.15);
	        box-shadow: 10px 5px 24px rgba(0, 0, 0, 0.15);
	position: relative;
}
.last_page_contacts img{
	display: block;
	margin: auto;
	margin-top: 17px;
	margin-bottom: 20px;
}
/*////////////////*/
.last_page_contacts_time span{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 120%;
	text-align: center;
	color: #000000;
	display: block;
	margin:auto;
	margin-top: 10px;

}
.last_page_contacts_time{
	margin-top: 30px;
	height:136px; 
	background-color: white;
	border: 1px solid white;
	/*box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);*/
	-webkit-box-shadow: 10px 5px 24px rgba(0, 0, 0, 0.15);
	        box-shadow: 10px 5px 24px rgba(0, 0, 0, 0.15);
	position: relative;

}
.last_page_contacts_time img{
	display: block;
	margin: auto;
	margin-top: 17px;
}
#contacts_time_row{
	padding-left: 55px;
}
#footer{
	background: #00234B;
	height: 60px;
	/*margin-top: -60px;*/
	padding-left: 55px;
	padding-right: 55px;
	z-index: 2;
	position: relative;
}
#footer h1{
	margin-top: 16px;	
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 140%;
	color: #FFFFFF;
	float: left;
	}
#footer h2{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 130%;
	text-align: center;
	color: #717171;
	float: right;
	margin-top: 21px;
	}
#map{
    padding-right: 0; 
    padding-left: 30px;
}
#myCarousel {
    padding-left: 40px;
    padding-right: 40px;
}
#myCarousel .carousel-control-next{
	height: 20px;
    width: 20px;
    margin-top: 230px;
}
#myCarousel .carousel-control-prev{
	height: 20px;
    width: 20px;
    margin-top: 230px;
}	
#catalog{
	background-color: white;
}
button:focus{
	outline: none;
}
button:hover{
	background-color: #4aa0f0!important;
}
#outlets_btn{
	width: 147px!important;
    height: 41px!important;
    padding: 0!important;
    background: #0C3D69;
    border-radius: 40px;
    border:none;
	margin-right: 24px!important;
	margin-top:-10px;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
}
#search_field{
    max-width: 150px!important;
    height: 38px!important;
    padding: 0!important;
    border-radius: 40px;
    border:none;
	margin-right: 10px!important;
	margin-top:-10px;
	text-align: center;
}

#search_form input::-webkit-input-placeholder{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
}
#search_form input::-moz-placeholder{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
}
#search_form input:-ms-input-placeholder{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
}
#search_form input::-ms-input-placeholder{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
}
#search_form input::placeholder{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #FFFFFF;
}
.navbar-collapse li{
	margin-top: 4px;
}
#search_icon{
	margin-top:-12px;
}
#full_metal_wrapper{
	padding-left: 155px;
	padding-right: 155px;
}

.nav-link{
    text-align: left;
}
#myCarousel_2 .carousel-inner{
	padding-bottom: 60px;
}
#myCarousel .carousel-inner .carousel-item{
	z-index: 10;
}
#metal_description a,#wood_description a,#paint_description a{
	text-decoration: none;
}

#catalog_show_container,#search_result_container{
	background-color: white;
	max-width: 1600px;
	padding-top: 100px;
	padding-right: 0;
	padding-left: 0;
}
#catalog_show_row{
	margin-top: 50px;
	margin-bottom: 50px;
}
.catalog_name_wrapper{
	background-color: #000A1D!important;
}

#catalog_show_row .catalog_element_wrapper{
	margin-bottom: 50px;
}
.catalog_name,.category_name,.product_name_show{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 110%;
	text-align: center;
	text-transform: uppercase;
	/*color: white;*/
	text-shadow: -1px -1px 0
	#0C3D69, 1px -1px 0 #0C3D69, -1px 1px 0 #0C3D69, 1px 1px 0
	#0C3D69;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
    margin-top: 20px;
}
#coop_page_container{
	background-color: white;
	max-width: 1600px;
	padding-top: 100px;
	padding-right: 0;
	padding-left: 0;
}
#coop_page_container_inner{
	padding-right: 50px;
	padding-left: 50px;
}
.coop_item{

	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	min-height: 250px;
	width: 90%;
	margin:auto;
	margin-bottom: 20px;
	padding-top: 5px
}
.coop_item img{
	width: 100px;
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

}
#coop_header_text{
	font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 110%;
    text-align: center;
    color: #00234B;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#coop_page_container_inner p{
	font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    color: #0C3D69;
	text-align: center;
	padding-bottom: 10px

}

#category_list{
	background-color: #000A1D;
}
.sub_cat_item{
	border:none;
	background-color: transparent;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #0C3D69;
}

#contract_conditons{
	margin-top: 20px;
	margin-bottom: 20px;
}
#contract_conditons button{
	width: 147px!important;
    height: 41px!important;
    padding: 0!important;
    background: #0C3D69;
    border-radius: 40px;
    border: 1px solid;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}
#contract_conditons img{
	width: 100%;

}
#partners_container{
	/*height: 500px;*/
}
.partner_class_item{
	margin: 10px;
	width: 25%;
	height: 400px;

}
.partner_img_wrapper{
	height: 50%;
	display: grid;
}
.partner_img_wrapper img{
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 80%;
}
#partner_tiz{
	background-color: grey;
}
#partner_spets{
	background-color: yellow;
}
#partner_belab{
	background-color: white;
}
#partner_isma{
	background-color: black;
}
#partner_sintez{
	background-color: #0069BB;
}
.partner_text_wrapper{
	padding:5%;
	background-color: white;
	height: 50%;
}
.partner_text_wrapper h1{
	font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 110%;
    color: #0C3D69;
    text-align: center;
}
.partner_text_wrapper p{
	font-family: Proxima Nova;
    font-style: normal;
    font-size: 15px;
    color: #0C3D69;
}
#partners_title_wrapper{
	display: grid;
	text-align: center;
	margin:1%;
}
#partners_title{
	font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: auto;
}
#accordion .card {
	border-radius: 0!important;
}
#accordion .card .card-header{
	background-color: #0C3D69;
	border-radius:0;
}
#accordion .card h5{
	background-color: transparent;
	font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
.card-header:hover{
	cursor: pointer;
}

#contract_conditons_inner{
	text-align: center;
}
.partners_page{
	margin-top: 100px;
}
#myCarousel{
	margin-bottom: 10px;
}
#product_description_wrapper{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: white;
    margin-top: 60px;
}
#product_description_outer_wrapper{
	background-color: #000A1D;
}
.similar_prods{
	font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    color: #0C3D69;
    display: block;
    margin: auto;
}
.about_num{
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 50px;
    line-height: 140%;
    color: #0C3D69;
}
.third_page_text p{
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #0C3D69;
}
#third_page,#catalog{
	background-image: url("../img/page1_texture.png");
}
#seventh_page{
	background-image: url("../img/page1_texture.png");	
}
#eighth_page{
	background-image: url("../img/page1_texture.png");
}

#search_result_header{
	font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #00234B;
    margin: auto;
    margin-top: 50px;
}
#search_result_content{
	max-width: 500px;
	margin:auto;
	padding-bottom: 70px;
}
#search_result_content li,#search_result_not_fund{
	font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #00234B;
}
#show_all_products_list{
	margin-bottom: 70px;
}
.show_all_products_list_item{
	margin-bottom: 20px;
}
.related_item_image_wrapper{;
	min-height: 170px;
}
.catalog_element_related{
	height: 400px;
}
#wood_description_btn{
	margin-top: 25px!important;
}
/*///////////////////////////////////////*/
/*ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/
/* medium - display 2  */
@media (min-width: 768px) {

  #myCarousel .carousel-inner .carousel-item-right.active,
  #myCarousel .carousel-inner .carousel-item-next {
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
  }

  #myCarousel .carousel-inner .carousel-item-left.active,
  #myCarousel .carousel-inner .carousel-item-prev {
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
  }
}

/* large - display 4 */
@media (min-width: 992px) {

  #myCarousel .carousel-inner .carousel-item-right.active, #myCarousel 
  .carousel-inner .carousel-item-next {
      -webkit-transform: translateX(25%);
          -ms-transform: translateX(25%);
              transform: translateX(25%);
  }

  #myCarousel .carousel-inner .carousel-item-left.active,
  #myCarousel .carousel-inner .carousel-item-prev {
      -webkit-transform: translateX(-25%);
          -ms-transform: translateX(-25%);
              transform: translateX(-25%);
  }
}

@media (max-width: 767px) {
  #myCarousel .carousel-inner .carousel-item>div {
      display: none;
  }

  #myCarousel .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

#myCarousel .carousel-inner .carousel-item.active,
#myCarousel .carousel-inner .carousel-item-next,
#myCarousel .carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
/*  justify-content: center*/
}

#myCarousel .carousel-inner .carousel-item-right,
#myCarousel .carousel-inner .carousel-item-left {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
/*///////////////////////////////////////////////*/




/* medium - display 2  */
@media (min-width: 768px) {

  #myCarousel_2 .carousel-inner .carousel-item-right.active,
  #myCarousel_2 .carousel-inner .carousel-item-next {
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
  }

  #myCarousel_2 .carousel-inner .carousel-item-left.active,
  #myCarousel_2 .carousel-inner .carousel-item-prev {
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
  }
}

/* large - display 4 */
@media (min-width: 992px) {

  #myCarousel_2 .carousel-inner .carousel-item-right.active, #myCarousel_2 
  .carousel-inner .carousel-item-next {
      -webkit-transform: translateX(25%);
          -ms-transform: translateX(25%);
              transform: translateX(25%);
  }

  #myCarousel_2 .carousel-inner .carousel-item-left.active,
  #myCarousel_2 .carousel-inner .carousel-item-prev {
      -webkit-transform: translateX(-25%);
          -ms-transform: translateX(-25%);
              transform: translateX(-25%);
  }
}

@media (max-width: 767px) {
  #myCarousel_2 .carousel-inner .carousel-item>div {
      display: none;
  }

  #myCarousel_2 .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

#myCarousel_2 .carousel-inner .carousel-item.active,
#myCarousel_2 .carousel-inner .carousel-item-next,
#myCarousel_2 .carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#myCarousel_2 .carousel-inner .carousel-item-right,
#myCarousel_2 .carousel-inner .carousel-item-left {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/**{
	border:1px solid red!important;
}*/
/*MOB*/
@media (max-width: 1230px){
	
	.navbar-brand{
		margin-right: 50px;
	}
	.nav-link {
		margin-right: 40px!important;
	}
	#second_page_image_div img{
		margin-left: 30px;
	}
	#carousel_feedback .carousel-control-next img {
		margin-right: 100px;
	}
	#carousel_feedback .carousel-control-prev img {
		margin-left: 100px;
	}
}
@media (max-width: 1170px){
	
	.navbar-brand{
		margin-right: 20px;
	}
	.nav-link {
		margin-right: 15px!important;
		font-size: 13px;

	}
	.navbar-brand{
		font-size: 18px;
		margin-top: 31px;
	}
	.phone{
		margin-top: 30px;
		font-size: 14px;
	}
	.navbar-nav{
		margin: auto;
		margin-top: 39px;
		
	}
	#container_second {
    padding-left: 40px;
    padding-right: 40px;
	}
	.btn_page1{
		width: 200px;
		height: 50px;
	}
	#carousel_feedback .carousel-control-next img {
		margin-right: 0;
	}
	#carousel_feedback .carousel-control-prev img {
		margin-left: 0;
	}
	.carousel_feedback_item{
		max-width: 600px;
	}
	#metal_wrapper img,#fourth_page_inner>img,#fifth_page_inner img:nth-child(2){
		opacity: 80%;
	}


}
@media (max-width: 990px){
		.page_1_text {
	    font-size: 25px;
	    padding-top: 100px;
	    max-width: none;
	    text-align: center;
		}
		.btn_page1 {
		    font-size: 14px;
		    margin-top: 90px;
		    margin-left: auto;
			margin-right: auto;
			display: block;
		}
		.page_1_location_time{
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}
		#carousel_main_page{
			margin: auto;
			width: 50%;
		}
		#second_page_image_div img{
			margin-right: 0;
			margin-left: 0;
		}
		#what_we_do{
			font-size: 35px;
			margin-top: 80px;
			padding-left: 20px;
		}
		#second_page_image_div{
			padding-left:0; 
		    margin-top: 10px;
		}
		#second_page_line{
		    margin-left: -30px;
		    margin-top: 100px;
		    width: 40px;
		}
		#page_2_text_heading,.page_2_text_body{
			max-width: none;
		}
		#page_2_partners{
			padding-left:0;
			text-align: center;
		}
		#third_page_second_header,#sixth_price p,#sixth_price span,#nineth_page_inner h1{
			font-size: 40px;
		}

		#carousel_feedback .carousel-item.active,#carousel_feedback .carousel-item{
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.carousel_feedback_item p{
			margin-top: 20px;
			font-size: 15px;
		}
		.carousel_feedback_item h5{
			margin-top: 10px;
			font-size: 15px;
		}
		#eighth_page_inner h1{
			font-size: 25px;
		}
		.carousel_feedback_item {
		    max-width: 500px;
		}
		#metal_wrapper img,#fourth_page_inner>img,#fifth_page_inner img:nth-child(2){
		opacity: 60%;
		}
		.phone {
			margin-top: 20px;
		}
		.phone p{
			text-align:left;
			margin-top:0;
			margin-left: 20px;
		}
		#search_form_wrapper{
			margin-top: 10px;
		}
		#seventh_page_img_2{
			display: none;
		}
		#carousel_main_arrow_left{
			margin-left: 0;
		}
		.fixed-top{
			padding-right: 10px!important;
    		padding-left: 10px!important;
    		padding-top: 10px!important;
		}
		.navbar-brand{
			margin-top: -2px;
		}
		#search_form input::-webkit-input-placeholder{
			font-size: 12px;
		}
		.navbar-nav{
			margin-top: 0;
			margin-left: 20px;
		}
		.navbar-collapse li{
			margin-top: 10px;
		}

}
@media (max-width: 767px){

	.catalog_element_9 h2,.catalog_element_9 p{
		max-width: none;
		text-align: center;
	}
	#second_page_image_div img{
		display: none;
	}
	#what_we_do{
		text-align: center;
		margin-top: 0;
		left: 50%;
    	-webkit-transform: translate(-50%, -50%);
    	    -ms-transform: translate(-50%, -50%);
    	        transform: translate(-50%, -50%);
	}
	#page_2_text_wrapper{
		margin-top: 40px;
	}
	#second_page_line{
		display: none;
	}
	#carousel_main_page{
		width: 100%;
	}
	#third_page_second_header,#sixth_price p,#sixth_price span,#nineth_page_inner h1{
		font-size: 35px;
	}
	#last_page_contacts_row,#contacts_time_row{
		padding-left:0; 
	}
	#last_page p{
		margin:auto;
	}
	#map{
		padding-right: 0px;
	    height: 500px;
	    padding-left: 0px;
	}
	#metal_wrapper img,#fourth_page_inner>img,#fifth_page_inner img:nth-child(2){
		opacity: 40%;
	}
	#seventh_page_inner{
		background-size: cover;
	}
	#seventh_page_img_2{
		display: block;

	}
	#seventh_page_img_2 img{
		width: 100%; 
		max-width: 100%; 
		margin-top: 20px;
		margin-left:0;
	}

	#seventh_page_img_3 img{
		margin-top: 20px;
		float: right;
	}
	#eighth_page{
		margin-top: 50px;
	}
	#find_everything p{
		font-size: 60px;
	}
	#myCarousel{
		display: none;
	}
	#myCarousel_mob{
		display: block;
		z-index: 5;
	}

	#myCarousel_2{
		display: none;
	}
	#myCarousel_2_mob{
		display: block;
		/*padding-bottom: 40px;*/

	}

	#myCarousel_2_mob .carousel-item.active, .carousel-item{
		padding-bottom: 10px;
	}
	#sixth_page{
		padding-left: 10px;
		padding-right: 10px;
	}


}
@media (max-width: 683px){
	#paint_description,#wood_description,#metal_description{
/*		left: 50%;
    	transform: translate(-50%, -50%);*/
    	left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	#fifth_page,#fourth_page{
		padding-right:0;
		padding-left:0;
	}
	#fifth_page_dark{
		margin-right: 0;
    	margin-left: 0;
	}
	#page_2_text_heading,#page_2_heading_color{
		font-size: 20px
	}
	.page_2_text_body{
		font-size: 15px;
	}
	#third_page_second_header, #sixth_price p,#sixth_price span,#nineth_page_inner h1{
		font-size: 25px;
	}
	#metal_wrapper img,#fourth_page_inner>img,#fifth_page_inner img:nth-child(2){
		opacity: 20%;
	}
	#find_everything p{
		font-size: 50px;
	}

}
@media (max-width: 576px){
	.btn_page1{
		margin-top: 10px;
		width: 90%;
	}
	.page_1_location_time{
		margin-top: 20px;
	}
	
	#nineth_page_inner {
	    padding-left: 15px;
    	padding-right: 15px;
	}
	#footer{
		padding-left: 15px;
    	padding-right: 15px;
	}
	#eighth_page_inner{
		padding-left: 10px;
    	padding-right: 10px;
	}
	#carousel_feedback .carousel-control-prev img,#carousel_feedback .carousel-control-next img{
		margin-top: 0;
	}
	#container_second{
		padding-left: 10px;
    	padding-right: 10px;
	}
	#page_2_partners span{
		margin-right: 15px;
    	margin-left: 15px
	}
	#metal_wrapper img,#fourth_page_inner>img,#fifth_page_inner img:nth-child(2){
		opacity: 0%;
	}
	#seventh_page_img_3{
		display: none;
	}
	#find_everything p{
		font-size: 40px;
	}
	#seventh_page_card h1,#seventh_page_card p{
		margin-left: 10px;
		margin-right: 10px;
	}
	#seventh_page_card button{
		margin-left: auto;
	    margin-right: auto;
	    display: block;
	}
	#fourth_page{
		height: 630px;
	}
	#paint_description{
		margin-top: 0;
	}
	#fifth_page_light{
		display: none;
	}
	.third_page_text{
	    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
	            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
	}
	.third_page_text p:nth-child(2){
		margin-bottom: 10px;
    	padding-bottom: 10px;
	}
	.catalog_element_9{
		 margin-left: 0; 
		 margin-right: 0; 
	}
	#nineth_page_inner{
		padding-left: 10px;
		padding-right: 10px;
	}
	#coop_header_text{
		font-size: 30px;
	}
	#coop_page_container_inner {
	    padding-right: 10px;
	    padding-left: 10px;
	}
	.coop_item_wrapper{
		padding: 0;
	}
}
@media (max-width: 321px){
	#wood_description,#metal_description,#paint_description{
		width: 320px;
	}
	.catalog_element_9 img{
		width: 25%;
		margin-top: 40px;
	}
	.catalog_element_9 h2{
		margin-top: 60px;
	}
}
/**{
	border: 1px solid red!important;
}*/